/* AnalysPage.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
}

.measures {
  grid-column: span 2;
}
