/* MeasureDashboard.css */

.dashboard-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.select-container {
  margin-bottom: 5px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;

}

.average-container {
  text-align: center;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}

.select-label {
  margin-right: 10px;
}

.average-value {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add margin to separate it from other elements */
}

.graph-container {
  width: 1000px; /* Adjust width as needed */
  height: 600px; /* Adjust height as needed */
}