  .dry-sheet-container {
    text-align: center;
  }

  .batch-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-self: center;
  }

  .batch-item {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LightBlue {
    background-color: rgb(40, 201, 255);
  }

  .LightYellow {
    background-color: rgb(218, 218, 104);
  }

  .Green {
    background-color: rgb(85, 212, 85);
  }

  .Red {
    background-color: rgb(205, 78, 43);
  }
   .Blue {
    background-color: rgb(33, 63, 230);
  }

  .Yellow {
    background-color: rgb(150, 150, 11);
  }

  .SolidGreen {
    background-color: rgb(14, 148, 14);
  }

  .darkRed {
    background-color: rgb(231, 54, 6);
  }

  /* Define additional CSS classes for Material-UI Paper and Typography components */
  .paper-container {
    padding: 20px;
  }

  .typography-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .typography {
    margin: 5px 0;
  }
.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px; /* Adjust the height as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gallery-item:hover {
  opacity: 0.8; /* Adjust the opacity as needed */
  cursor: pointer;
  /* Add any other hover styles you want here */
}
.title-bar {
  background-color: #1e6ab7;
}
.title {
  color: white
  ;
}