.dry-sheet-container {
  text-align: center;
}

.batch-grid {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  align-self: center;
}

.batch-item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.LightBlue {
  background-color: lightblue;
}

.Yellow {
  background-color: yellow;
}

.Green {
  background-color: green;
}

.Orange {
  background-color: orange;
}
