.title {
  font-size: 6rem;
  text-align: center;
  margin-top: 2rem;
  font-family: Arial;

}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.featured-articles {
  margin-top: 2rem;
  list-style: none;
}

.featured-articles li {
  margin: 1rem 0;
}

.about-me {
  margin-top: 2rem;
}
