.image-list-item {
  transition: transform 0.3s;
   height: '50%';
   opacity: 1;



}
.SideListText {
  font-size: 40px;
}


.link-button {
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.link-button:active {
  background-color: rgba(109, 93, 214, 0.1);
  border-radius: 5px;
}
.active-link {
  /* background-color: rgba(41, 41, 135, 0.692); */
  border-radius: 3px;
  color: rgb(192, 192, 192);
  font-weight: bold;


}