/* MeasureList.css */

.measure-list-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.measure-item {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.measure-item p {
  margin: 5px 0;
}
.load-more-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 1rem; /* Add some space above the button */
}

.load-more-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}
